<!-- Topbar Start -->
<div class="container-fluid fixed-top">
    <!-- Main Navigation Bar -->
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg py-3">
            <a href="{% url 'masjid_quba' %}" class="navbar-brand">
                <h1 class="mb-0">MQ<span class="custom-color-heading">EC</span></h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav ms-lg-auto mx-xl-auto">
                    <!-- Five Navigation Links -->
                    <a href="{% url 'masjid_quba' %}" class="nav-item nav-link active">Masjid Quba</a>
                    <a href="{% url 'ramadan' %}" class="nav-item nav-link">Ramadan</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0 rounded-0">
                            <a href="{% url 'new_muslims_correction' %}" class="dropdown-item">New Muslims (correction)</a>
                            <a href="{% url 'new_muslims' %}" class="dropdown-item">New Muslims</a>
                            <a href="{% url 'non_muslims' %}" class="dropdown-item">Non Muslim</a>
                            <a href="{% url 'weekly_classes' %}" class="dropdown-item">Weekly Classes</a>
                        </div>
                    </div>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About us</a>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>

                </div>
                <!-- Donate button remains separate -->
                <a href="{% url 'donation' %}" class="btn btn-primary py-2 px-4 d-none d-xl-inline-block">Donate</a>
            </div>
        </nav>
    </div>
</div>
<!-- Topbar End -->
